version: "3.9"

services:
  frontend:
    image: sanjay12223/cicd-frontend:staging-latest
    container_name: cicd-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

  backend:
    image: sanjay12223/cicd-backend:staging-latest
    container_name: cicd-backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: admin
      DB_PASSWORD: admin
    depends_on:
      - db
    restart: always
    networks:
      - app-network

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
